<div class="container my-4 justify-content-center">

  <a class="social twitter mx-1" href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fcommits.top%2F&text=:%20http%3A%2F%2Fcommits.top%2F&via=lauripiispanen" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;">
    <i class="fab fa-lg fa-twitter"></i>
  </a>
  
  <a class="social facebook mx-1" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fcommits.top%2F&t=" title="Share on Facebook" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;">
    <i class="fab fa-lg fa-facebook"></i>
  </a>
  
  <a class="social reddit mx-1" href="http://www.reddit.com/submit?url=http%3A%2F%2Fcommits.top%2F&title=" target="_blank" title="Submit to Reddit" onclick="window.open('http://www.reddit.com/submit?url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;">
    <i class="fab fa-lg fa-reddit"></i>
  </a>
  
  <a class="social tumblr mx-1" href="http://www.tumblr.com/share?v=3&u=http%3A%2F%2Fcommits.top%2F&t=&s=" target="_blank" title="Post to Tumblr" onclick="window.open('http://www.tumblr.com/share?v=3&u=' + encodeURIComponent(document.URL) + '&t=' +  encodeURIComponent(document.title)); return false;">
    <i class="fab fa-lg fa-tumblr"></i>
  </a>

  <a class="social linkedin mx-1" href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fcommits.top%2F&title=&summary=&source=http%3A%2F%2Fcommits.top%2F" target="_blank" title="Share on LinkedIn" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;">
    <i class="fab fa-lg fa-linkedin-in"></i>
  </a>
  
</div>