<!doctype html>

<html lang="{{ site.lang | default:"en-US" }}">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% assign description = 'A list of most active GitHub users' %}
    {% assign title = 'Most active GitHub users' %}
    {% assign url = 'http://commits.top/' %}

    {% if page.collection == 'locations' %}
      {% assign description = description | append: ' in ' | append: page.title %}
      {% assign title = title | append: ' in ' | append: page.title %}
      {% assign url = url | append: page.url %}
    {% endif %}

    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}." />
    <meta property="og:description" content="{{ description }}." />
    <meta name="twitter:description" content="{{ description }}." />

    <meta property="og:site_name" content="commits.top - {{ title }}" />
    <meta property="og:title" content="commits.top - {{ title }}" />
    <meta name="twitter:title" content="commits.top - {{ title }}" />

    <meta property="og:url" content="{{ url }}" />
    <link rel="canonical" href="{{ url }}" />

    <meta name="rating" content="Safe For Kids" />
    <meta name="author" content="Lauri Piispanen" />
    <meta name="robots" content="index,follow" />
    <meta name="robots" content="noodp" />
    <meta property="og:type" content="website" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@lauripiispanen" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" />
    <link rel="stylesheet" href="style.css" />

  </head>

  <body class="container text-center my-4 text-monospace bg-light">

    {{ content }}


    {% include footer.html %}
    {% include scripts.html %}

  </body>

</html>
